doctype html
head
  meta(charset='UTF-8')
  title Homepage | BentoBox
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  link(rel="icon", href=require("../../assets/img/favicon.png"), type="image/x-icon")
  link(href=require('../../assets/scss/styles.scss') rel='stylesheet')
include ../components/title
include ../components/header-link
include ../components/services-item
include ../components/brands-item
include ../components/footer-item
include ../components/learn-more-btn
include ../components/header-menu
include ../icons/instagram
include ../icons/twitter
include ../icons/linkedin
include ../icons/facebook
include ../constant/variables
body#app
  .container.top-alert 
    .top-alert__content 
      span.top-alert__text EXCLUSIVE: Get up to three free months of BentoBox.*
      a(href="#" class="top-alert__link") Claim the offer 
    .top-alert__cancel 
      img(src=require("../../assets/img/icons/cancel.png"), alt="cancel button" class="top-alert__cancel-img")
  header.header 
    +header-menu
  #header--sm.header.header--sm
    +header-menu(true)
  main 
    section.banner 
      .container.banner__container 
        .banner__content 
          +title("Meet the tech that makes restaurant magic happen.")
          p.banner__description From website design to online ordering and payment solutions, BentoBox helps restaurants around the world create better experiences for their customers and their staff.
          a(href="#" class="button button--lg button--black") Get started 
        figure.banner__photo
          img(src=require("../../assets/img/homepage_graphic.webp"), alt="Homepage graphic" class="banner__photo-img")
    section.services 
      .container.container--main.services__container 
        .services__head 
          span.services__pre-title The Marketing & Commerce Platform
          +title("At your service for service and beyond.", "services__title")
          p.services__sub-title With BentoBox, enjoy 24/7 access to a full line-up of tools built to give restaurant owners and operators the support they need to succeed in every area of their business.
        .services__content 
          .services__list 
            each servicesItem in servicesList 
              +service-item(servicesItem.img, servicesItem.title, servicesItem.description)
    section.short-learn 
      .container.container--main.short-learn__container 
        .short-learn__photo 
          img(src=require("../../assets/img/nubeluz.webp"), alt="Nubeluz" class="short-learn__photo-img")
        .short-learn__content 
          .short-learn__bentobox-icon
            img(src=require("../../assets/img/build_presence.webp"), alt="BentoBox" class="short-learn__bentobox-icon-img")
          .short-learn__textbox 
            +title("Always be present", "short-learn__title")
            p.short-learn__description Rank higher in searches. Win over more visitors. Make updates on the fly. As powerful as they are beautiful, our customized websites are built to work extra hard for restaurants worldwide.
            +learn-more-btn
    section.short-learn 
      .container.container--main.short-learn__container 
        .short-learn__content 
          .short-learn__bentobox-icon
            img(src=require("../../assets/img/diversify_revenue.webp"), alt="BentoBox" class="short-learn__bentobox-icon-img")
          .short-learn__textbox 
            +title("Make money 24/7", "short-learn__title")
            p.short-learn__description With a website that’s always open for business. From commission-free ordering to ticket sales and more, BentoBox makes it easy to drive more business online, then keep the profits that are rightfully yours.
            +learn-more-btn
        .short-learn__photo.short-learn__photo--sell
          img(src=require("../../assets/img/sell.webp"), alt="Sell" class="short-learn__photo-img")
    section.brands
      .container.container--main.brands__container 
        h2.brands__title Loved and trusted by 
        .brands__list 
          each brandsItem in brandsList 
            +brand-item(brandsItem.href, brandsItem.img)
    section.harborview
      .container.container--main.harborview__container 
        .harborview__content 
          p.harborview__description Onboarding to BentoBox was very, very easy. Lots of support and communication. But now we’re up and running, and we haven't needed as much support.
          .harborview__actions 
            .harborview__action
              figure.harborview__action-photo 
                img(src=require("../../assets/img/harborview.webp"), alt="Harborview icon" class="harborview__action-photo-img")
              .harborview__buttons 
                each harborviewButton in harborviewButtons 
                  a(href=harborviewButton.href class="button button--sm button--gray") #{harborviewButton.content}
            .harborview__action.harborview__action--only-button
              a(href="#" class="button button--lg button--gray-1") Case Study
    section.video-introduce
      .container.container--main.video-introduce__container 
        .video-introduce__content 
          iframe(
            src="https://player.vimeo.com/video/757310206?loop=false&autoplay=false&muted=false&gesture=media&playsinline=true&byline=false&portrait=false&title=false&speed=true&transparent=false&customControls=true" 
            frameborder="0"
            allowfullscreen
            class="video-introduce__video"
          )
          .video-introduce__control 
            button.video-introduce__control-play
              img(src=require("../../assets/img/icons/play.png"), alt="Play button" class="video-introduce__control-play-img")
    section.connect-dots
      .container.container--main.connect-dots__container 
        img(src=require("../../assets/img/deco-right.svg"), alt="Deco right" class="connect-dots__img connect-dots__img--right")
        img(src=require("../../assets/img/deco-left.svg"), alt="Deco left" class="connect-dots__img connect-dots__img--left")
        .connect-dots__content 
          .connect-dots__photo 
            img(src=require("../../assets/img/favicon.png"), alt="BentoBox logo" class="connect-dots__photo-img")
          +title("Connect the operational dots", "connect-dots__title")
          p.connect-dots__description BentoBox makes it easy to integrate the systems your team already relies on.#[br]Because why mess with a good thing?
    section.quick-demo 
      .container.container--main.quick-demo__container 
        .quick-demo__content 
          .quick-demo__text 
            +title("Up for a quick demo?", "quick-demo__title")
            p.quick-demo__sub-title See how BentoBox can help your restaurant do more.
          .quick-demo__action 
            a(href="#" class="button button--lg button--black") Book a demo
  footer.footer
    .container.footer__container
      .footer__list
        each footerItem in footerItems 
          +footer-item(footerItem.title, footerItem.links)
        .footer__item 
          h2.footer__item-title Connect 
          ul.footer__item-links.footer__item-links--icon
            each connectLink in connectLinks 
              li.footer__item-link.footer__item-link--icon
                a(href="#" class="footer__item-link-a footer__item-link-a--icon")
                  +#{connectLink.icon}







